.textContainer {
	line-height: 1.5;
	padding: 11px 15px 0 15px;
}

.dangerouslySetInnerHTML{
	word-wrap: break-word;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 8px;
    margin: 0 0 15px 0;
    background: #fefefe;
}