.am-button.am-button-active {
    opacity: 0.6;
    background-color: #FFF;
}

.aelf-blank16 {
    width: 10px;
    height: 16px;
}

.aelf-blank40 {
    width: 10px;
    height: 40px;
}

.aelf-personal-pages .am-list-item .am-list-line .am-list-content {
    color: #FFF;
}

.aelf-list:active {
    background: rgba(255, 255, 255, 0.1);
}
