.page {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
	background: #FFF;
}

.container {
	padding: 11px 15px;
}

.confirmContainer {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1001;
	background: #FFF;
}

.privateContainer {
	word-wrap: break-word;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 8px;
	margin: 15px 0 15px 0;
	background: #fefefe;
	line-height: 1.5;
	min-height: 150px;
}

.whitespace {
	height: 45px;
	width: 10px;
}

.listItem {
    display: inline-block;
    border: 1px solid #eee;
    border-radius: 3px;
    margin: 5px;
    padding: 5px 8px 5px 8px;
}

.note {
	background-color: #ffd74e;
	// margin: 0 15px 0 15px;
    border-radius: 3px;
    padding: 1px 15px 1px 15px;
    color: #333;
}