.password-container {
    padding: 0 24px 0 24px;
}

.password-container .am-list {
    background: rgba(255, 255, 255, 0);
}

.password-container .am-list .am-list-body {
    background: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px dashed rgba(255,255,255, 0.5);
}

.password-container .am-list .am-list-body .am-list-item {
    background: rgba(255, 255, 255, 0);
}
.password-container .am-list .am-list-body .am-list-item.am-input-item {
    padding-left: 0;
}

.password-container .am-list-item .am-input-control input {
    color: #FFF;
}

.aelf-input-title {
    margin: 26px 0 12px 0;
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
}
.aelf-input-container {
    padding: 0 24px 0 24px;
}

.am-list {
    background: rgba(255, 255, 255, 0);
}

.am-list .am-list-body {
    background: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px dashed rgba(255,255,255, 0.5);
}

.am-list .am-list-body .am-list-item {
    background: rgba(255, 255, 255, 0);
}
.am-list .am-list-body .am-list-item.am-input-item {
    padding-left: 0;
}

.am-list-item .am-input-control input {
    color: #FFF;
    font-size: 24px;
}

.am-list-body::before {
    background: none !important;
}