/*.aelf-input-title {*/
    /*margin: 26px 0 12px 0;*/
    /*color: rgba(255, 255, 255, 0.5);*/
    /*display: flex;*/
    /*justify-content: space-between;*/
/*}*/
/*.aelf-input-container {*/
    /*padding: 0 24px 0 24px;*/
/*}*/

/*.aelf-dash .am-list {*/
    /*background: rgba(255, 255, 255, 0);*/
/*}*/

/*.aelf-dash .am-list .am-list-body {*/
    /*background: rgba(255, 255, 255, 0);*/
    /*border: none;*/
    /*border-bottom: 1px dashed rgba(255,255,255, 0.5);*/
/*}*/

/*.aelf-dash .am-list .am-list-body .am-list-item {*/
    /*background: rgba(255, 255, 255, 0);*/
/*}*/
/*.aelf-dash .am-list .am-list-body .am-list-item.am-input-item {*/
    /*padding-left: 0;*/
/*}*/

/*.aelf-dash .am-list-item .am-input-control input {*/
    /*color: #FFF;*/
    /*font-size: 24px;*/
/*}*/

/*.aelf-dash .am-list-body::before {*/
    /*background: none !important;*/
/*}*/

.aelf-input-title {
    margin: 26px 0 12px 0;
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
}
.aelf-input-container {
    padding: 0 24px 0 24px;
}

.am-list {
    background: rgba(255, 255, 255, 0);
}

.aelf-dash .am-list .am-list-body {
    background: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px dashed rgba(255,255,255, 0.5);
}

.aelf-solid .am-list .am-list-body {
    background: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px solid rgba(151,151,151, 0.1);
}

.am-list .am-list-body .am-list-item {
    background: rgba(255, 255, 255, 0);
}
.am-list .am-list-body .am-list-item.am-input-item {
    padding-left: 0;
}

.am-list-item .am-input-control input {
    color: #FFF;
    font-size: 24px;
}

.am-list-body::before {
    background: none !important;
}

.am-list-body::after {
    background: none !important;
}