.sideContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 111;
}

.list {
  min-width: 92px;
  padding: 16px 17px;
  overflow: hidden;
  text-align: left;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.icon {
  background: url("../../../assets/svg_icon/radio_select12.svg") no-repeat;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  background-size: cover;
}

.selected .icon {
  background: url("../../../assets/svg_icon/radio_selected12.svg") no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.selected.list {
  font-size: 16px;
  color: #FFF;
}

.addWallet {
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 100;
  position: relative;
  z-index: 1000;
}

.addWalletIcon {
  width: 16px;
  height: 16px;
  background: url("../../../assets/svg_icon/add16.svg") no-repeat;
  background-size: cover;
  margin: 0 8px 0 24px;
}

.bottomTabBar {
  //position: fixed;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;

  max-width: 520px;
  margin: auto;
  z-index: 0;
}