.TransactionsSearch{
    position: relative;
    margin: 0 16px;
    height: 32px;
    background:#4d1a66;
    border-radius:16px;
    padding: 0 12px;
    display: flex;
    align-items: center;
}

.searchinput{
    width: 92%;
    margin-left: 1%;
    background:transparent;
    border:  none;
    color: #FFFFFF;
    font-size: 14px;
    opacity: .3;
}

.TransactionsSearch .am-list{
    width: 90%;
    margin-left: 1%;
}

.TransactionsSearch .am-list-body{
    background: transparent;
}

.TransactionsSearch .am-list-item .am-input-control input{
    font-size:14px;
    color: rgba(255,255,255,.3);
}