.Tokenlist .am-list-body {
    width: 100%;
    background: transparent;
    border:  none;
    color: #fff;
    font-size: 14px;
}

.Tokenlist .am-list-item .am-list-line .am-list-extra {
    padding-right: 15px;
}

.clearBtn {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 16px;
}