.forbidden {
	word-wrap: break-word;
    -webkit-user-select:none;
    -moz-user-select: none; 
    -ms-user-select: none;     
    user-select:none;/*禁用页面内容选中和复制操作*/        
    -webkit-touch-callout:none;/*禁用长按页面时的弹出菜单(iOS下有效)*/
    -webkit-tap-highlight-color:rgba(0,0,0,0);/*去掉点击链接和文本框对象时默认的灰色半透明覆盖层(iOS)或者虚框(Android)*/ 
    color: #999;
    font-size: 17px;
    line-height: 25.5px;
    padding: 11px 15px;
    font-style: oblique;
}
.title {
	padding: 0px 15px;
}

.text {
	padding: 15px 15px 9px 15px;
    font-size: 14px;
    color: #888;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.textarea {
    position: fixed;
    top: -250px;
}