.language .am-list-body{
    padding: 4px 10px;
}

.language .am-list-item .am-list-line .am-list-content{
    font-size: 14px;
}

.notes {
    padding: 0px 24px;
    color: #FFF;
    font-size: 12px;
}
