.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.title {
	font-size: 28px;
	padding-top: 20px;
	color: #FFF;
}

.error {
	color: #FFAA00;
	text-align: right;
	//padding: 0px 15px;
}

.bottom {
	width: 80%;
	margin: 0 0 50px 10%;
}

.crossChain {
	color: #FFF;
	font-size: 14px;
	margin: 16px 0 0 0;
	cursor: pointer;
	text-decoration: underline;
}
