.aelf-drawer {

}

.aelf-drawer .my-drawer .am-drawer-sidebar {
    background-color: #141219;
    color: #FFF;
    font-size: 16px;
    transform: translateX(101%);
}

.aelf-drawer .am-list-item .am-list-line .am-list-content {
    color: #FFF;
}

.aelf-drawer .am-list-body {
    background-color: #141219;
}