.Button{
    margin: 0 35px;
    background: #26b7ff;
    border-radius:35px;
    height: 50px;
    color: #fff;
    line-height:50px;
    font-size:18px;
    text-align: center;
    margin-top:20.75px;
}