html {
  /*display: flex;*/
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

body {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  /* max-width: 520px;
  max-width: 520px; */
  margin: auto !important;
}

#welcome-page {
  opacity: 1;
  transition: all 0.6s;
}

.welcome-page-message {
  position: absolute;
  z-index: 1001;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 11px 15px;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.welcome-page-bg {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*background: url("../assets/background/bg1@3x.jpg") no-repeat;*/
  background: url("../assets/background/bg_circle1.svg"),
    linear-gradient(169deg, #2c113f 0%, #16112d 100%);
  /*background: url("../assets/background/bg3_long.svg") no-repeat;*/
  /*background-size: contain;*/
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: all 0.6s;
  /* background-color: #1a1134; */
}

.aelf-logo-container {
  width: 30%;
  height: 88px;
  margin: auto auto 0 auto;
  text-align: center;
  line-height: 96px;
}
.aelf-wallet-description {
  margin: 0 0 50px 0;
  text-align: center;
  color: #fff;
  font-size: 12px;
}

.aelf-logo {
  width: 100%;
  height: 100%;
  background: url("../assets/svg_icon/logo.svg") no-repeat;
  background-size: contain;
  /*background-size: cover;*/
  background-position: center;
}

/* 一些elf的基础样式 */
.aelf-blue {
  color: #108ee9;
}
.aelf-bg-blue {
  background-color: #108ee9;
}

.aelf-white-space {
  height: 11px;
  width: 10px;
}

.aelf-content-container {
  color: #a6a6a6;
  /*text-align: center;*/
  /*padding: 11px 0px 50px 0px;*/
  padding: 0px 0px 50px 0px;
  overflow-x: hidden;
}

#root {
  /*background: url("../assets/background/bg2_long.svg") no-repeat;*/
  /* background: url("../assets/background/bg2.svg") no-repeat; */
  /*background-size: contain;*/
  /* background-image: linear-gradient(to top, #290079, #9d01db); */
  width: 100%;
  /*min-height: 100%;*/
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.6s;
}

.aelf-bg-light {
  /* background: url("../assets/background/bg1_long.svg") no-repeat; */
  /*background-size: contain;*/
  background-size: cover;
  /* background-color: #2d0379; */
  width: 100%;
  height: 100%;
  max-width: 520px;
  margin: auto;
  /*overflow: scroll;*/
  /*min-height: 100%;*/
}
.aelf-bg-light-2 {
  /*background: url("../assets/background/bg1_long.svg") no-repeat;*/
  /*background-color: ;*/
  background-position: center;
  /*background-size: contain;*/
  background-size: cover;
  /* background-color: linear-gradient(#9d01db, #290079); */
  width: 100%;
  height: 100%;
  max-width: 520px;
  margin: auto;
  /*overflow: scroll;*/
  /*min-height: 100%;*/
}
.aelf-wd-100percent {
  height: 100%;
  /*min-height: 100%;*/
  width: 100%;

  /*display: flex;*/
  /*flex-direction: column;*/
}

.aelf-blank12 {
  height: 12px;
  width: 12px;
}

/* 修改 Antd Model  */
.am-modal-button-group-h .am-modal-button:first-child {
  color: #260073 !important;
}
.am-modal-button-group-h .am-modal-button {
  color: #ac00e6 !important;
}

.am-pull-to-refresh-indicator {
  color: rgba(255, 255, 255, 0.7) !important;
}

.aelf-bg-theme {
  background-image: url("../assets/background/bg_circle3.svg"),
    linear-gradient(to top, #290079, #9d01db);
  background-size: auto 100%;
}
.aelf-bg-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(00, 00, 00, 0.7);
  /* transition: all 0.6s; */
}
.aelf-bg-style-wallet {
  background-image: url("../assets/background/bg_circle2.svg"),
    linear-gradient(to top, #290079, #9d01db);
  background-size: auto 100%;
}
.aelf-bg-style-wallet .aelf-bg-mask {
  background-color: transparent;
}
