.center {
	text-align: center;
}

.textContainer {
	height: 300px;
	color: #FFF;
	padding: 11px 24px;
	font-size: 14px;
    line-height: 21px;
    overflow: scroll;
}

.agreement {
	max-width: 520px;
	//background: url("../../../../assets/background/bg1_long.svg") no-repeat;
	background-size: cover;
	color: #FFF;
	margin: auto;
}

.background {
	position: fixed;
	width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
	background-repeat: no-repeat;
	background-position: center;
    right: 0;
    z-index: 9999;
}